{% extends "layout.html" %}
{% block title %}Editor{% endblock %}

{% block head %}
    {{ super() }}
    {{ codemirror.include_codemirror() }}
    <link href="../static/editor.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container fill">
    <div class = "row fill">
        <div class="col">
            <div class="row h-25">
                1 of 2
                <button id="mic-button">Click to Speak Here</button>
            </div>
            <div class="row">
                2 of 2
            </div>
        </div>
        <div class = "col">
            <form method="POST">
                {{ form.source_code }}
            </form>
        </div>
    </div>
</div>


{% endblock %}

{% block footer %}
{% endblock %}