<!doctype html>
<html data-bs-theme="dark">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>Spectra</title>
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
            <style>
                html, body {
                    height: 100%;
                    margin: 0;
                }

                #content {
                    flex: 1;
                }

                body {
                    display: flex;
                    flex-direction: column;
                }

                footer {
                    background-color: #f1f1f1;
                    text-align: center;
                    padding: 10px;
                    width: 100%;
                }
            </style>
        {% endblock %}
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block navbar %}
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand ms-3" href="/">Spectra</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto me-3">
                        {% if user == "" %}
                            <li class="nav-item">
                                <a class="nav-link" href="/login">Login</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="/profile">{{ user }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Logout</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        {% endblock %}
        <div id="content" class = "fill" style="background:#2c3035">{% block content %}{% endblock %}</div>
        <div id="footer" >
            {% block footer %}
                <footer class="bg-dark">
                    <p>Made with love by the Spectra team.</p>
                </footer>
            {% endblock %}
        </div>
    </body>
</html>