{% extends "layout.html" %} 

{% block title %}Profile{% endblock %} 

{% block head %} 
    {{ super() }} 
{% endblock %} 

{% block navbar %} 
    {{ super() }} 
{% endblock %}

{% block content %}
<h2>Your Classrooms:</h2>

{% if classrooms %}
    <ul>
    {% for c in classrooms %}
        <li>{{ c }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>You are not in any classrooms.</p>
{% endif %}
<a href="{{ url_for('newclass') }}" class="btn btn-primary">
    Create New Classroom
</a>
{% endblock %}

{% block footer %} 
    {{ super() }} 
{% endblock %}
